<div id="confirm-sent-modal" class="w3-modal">
    <div class="w3-modal-content w3-card-4" id="ack-modal" style="background-image: url('airplane.png');">
       <!--  <header class="w3-container">
            <span class="w3-closebtn">&times;</span>
            <div class="w3-xlarge w3-section w3-center">Talk to you soon!</div>
        </header> -->
        <header class="w3-header w3-container brand-type w3-xxlarge">Lookin' good.</header>
        <div class="w3-container" style="position: relative">
            <p>Thanks for your message! You'll hear back very soon.</p>
            <button class="w3-btn w3-pink" id="close-ack-btn">OK</button>
        </div>
    </div>
</div>