.brand-type {
    font-family: 'Montserrat';
}

.middle {
    vertical-align: middle;
}

.condensed {
    letter-spacing: -2px;
}

body {
    /* from w3-light-grey */
    background-color: #f1f1f1;
}

.overscroll-wrapper {
    background-color: white;
}

.header {
    background-color: #343434!important;
}

.w3-jumbo {
    line-height: 1;
    padding: 0;
    margin: 0.55em 0;
}

.checkbox-group {
    display: block;
}

#contact-form label.w3-label {
    color: black;
    display: inline-block;
    margin-top: 12px;
}

#contact-form label.w3-label:first-of-type {
    margin-top: 0;
}

#contact-form {
    min-width: 380px;
    max-width: 768px;
}

#confirm-sent-modal > .w3-modal-content {
    width: auto;
    max-width: 500px;
}

#ack-modal {
     background-size: 400px 131px; 
     background-repeat: no-repeat; 
     background-position: bottom left; 
     min-height: 250px;
}

#close-ack-btn {
    position: absolute; 
    top: 90px; 
    right: 44px;
}

/* Media queries */

/* Text-size media queries */
.w3-xxlarge {
    font-size: 1.5em!important;
}

img.header-logo {
    height: 32px;
    margin-bottom: 0!important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* mobile */
    .heroic {
        font-size: 36px!important;
        font-weight: bold;
    }

    .condensed {
        letter-spacing: -1px;
    }
}

@media only screen and (min-device-width: 768px) {
    /* For desktop: */
    .w3-xxlarge {
        font-size: 36px!important;
    }

    img.header-logo {
        height: 40px;
    }
}