<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <div class="overscroll-wrapper">
        {% include header.html %}
        {{ content }}
    </div>
    <div class="w3-container">
        {% include footer.html %}
    </div>
    {% include modal.html %}
</body>
<script type="text/javascript">
    var validator = {
        validateCheckboxes: function(checkboxes) {
            var required = true;
            for (i = 0; i < checkboxes.length; i++) {
                if ($(checkboxes[i]).prop('checked') == true) {
                    required = false;
                    break;
                }
            }

            $.each(checkboxes, function(i, o) {
                $(o).prop('required', required);
            });
        }
    };

    function initializeModal(modal) {
        $(document).keyup(function(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                $(modal).hide();
            }
        });

        $(modal).find("button.w3-btn").click(function(e) {
            $(modal).hide();
        });
    }

    $(function() {
        var checkboxes = $("#contact-form input[name='contact_inquiry']");
        var modal = $("#confirm-sent-modal");

        initializeModal(modal);

        $.each(checkboxes, function(i, o) {
            $(o).change(function() {
                validator.validateCheckboxes(checkboxes);
            });
        });

        $('#contact-form').submit(function(e) {
            e.preventDefault();
            $(modal).show();
            /*
            $.ajax("https://formspree.io/ari@perfectforward.co", {
                "method": "POST",
                "dataType": "json",
                "data": {
                }
            });
            */
            console.log(e);
        });
    });
</script>
</html>